### Q1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

### Ans1.

In [33]:
# Define the year of birth
birth_year = 2000  # my year of birth

# Create the list of years from birth year to the year of the fifth birthday
years_list = [birth_year + i for i in range(6)]

# Print the list to verify
print(years_list)

[2000, 2001, 2002, 2003, 2004, 2005]

### Q2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

### Ans2.

In [34]:
third_birthday_year = birth_year + 3

print(third_birthday_year)

2003

### Q3.In the years list, which year were you the oldest?

### Ans3.

In [35]:
oldest_year = years_list[-1]

# Print the year when you were the oldest

print(oldest_year)

2005

### Q4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

### Ans4.

In [36]:
# Define the list with the specified elements
things = ["mozzarella", "cinderella", "salmonella"]

print(things)

['mozzarella', 'cinderella', 'salmonella']

### Q5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

### Ans5.

In [37]:
# Define the list with the specified elements
things = ["mozzarella", "cinderella", "salmonella"]

# Capitalize the element that refers to a person
things[1] = things[1].capitalize()

print(things)

['mozzarella', 'Cinderella', 'salmonella']

- Yes, the element in the list did change. The capitalization operation transformed "cinderella" into "Cinderella", so the modified list reflects this change.

### Q6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

### Ans6.

In [38]:
# Define the surprise list with the specified elements
surprise = ["Groucho", "Chico", "Harpo"]


print(surprise)

['Groucho', 'Chico', 'Harpo']

### Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

### Ans7.

In [39]:
surprise = ["Groucho", "Chico", "Harpo"]

# Get the last element
last_element = surprise[-1]

# Lowercase the last element
lowercase_last = last_element.lower()

# Reverse the lowercase string
reversed_lowercase = lowercase_last[::-1]

# Capitalize the reversed string
capitalized_reversed = reversed_lowercase.capitalize()

# Update the last element in the list
surprise[-1] = capitalized_reversed

print(surprise)

['Groucho', 'Chico', 'Oprah']

### Q8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse

### Ans8.

In [40]:
# Create the English-to-French dictionary
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}


print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

### Q9. Write the French word for walrus in your three-word dictionary e2f.

### Ans9.

In [41]:
french_word_for_walrus = e2f["walrus"]

print(french_word_for_walrus)

morse

### Q10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

### Ans10.

In [42]:
f2e = {value: key for key, value in e2f.items()}

print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

### Q11. Print the English version of the French word chien using f2e.

### Ans11.

In [43]:
english_word_for_chien = f2e["chien"]
print(english_word_for_chien)

dog

### Q12. Make and print a set of English words from the keys in e2f.

### Ans12.

In [44]:
english_words_set = set(e2f.keys())

print(english_words_set)

{'dog', 'cat', 'walrus'}

### Q13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

### Ans13.

In [45]:
# Create the multilevel dictionary
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

### Q14. Print the top-level keys of life.

### Ans14.

In [46]:
top_level_keys = life.keys()
print(top_level_keys)

dict_keys(['animals', 'plants', 'other'])

### Q15. Print the keys for life['animals'].

### Ans15.

In [47]:
animal_keys = life['animals'].keys()

print(animal_keys)

dict_keys(['cats', 'octopi', 'emus'])

### Q16. Print the values for life['animals'] ['cats']

### Ans16.

In [48]:
cat_values = life['animals']['cats']

print(cat_values)

['Henri', 'Grumpy', 'Lucy']